
/*****************************************************************************/
/*
/* Container
/*
/* Liquid layout (specify widths in %)
/*
/*****************************************************************************/

@media (min-width: 38em) {
  .container {
    max-width: 85%;
    margin-left: 7%;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 85%;
    margin-left: 7%;
  }
}

.center {
  text-align: center;
}

/*h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h5 {
  margin-top: 1rem;
  font-size: 0.85rem;
}

h6 {
  margin-top: 1rem;
  font-size: 0.75rem;
}

code {
  padding: .20em .20em;
  background-color: #eeeeee;
  border-radius: 3px;
  font-size: 100%;
}

pre {
  white-space: pre;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: auto;
}

pre code {
  color: #101010;
  font-size: 95%;
}*/


/*****************************************************************************/
/*
/* Tags
/*
/* https://github.com/lanyonm/lanyonm.github.io/blob/master/_sass/main.scss
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  line-height: 2.5;
  *zoom: 1;
}
.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.tag-box:after {
  clear: both;
}
.tag-box.inline li {
  float: left;
  font-size: 12px;
  font-size: 0.875rem;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 5px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

/* For tags below the post title */
.post-tag-box {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  font-size: 85%;
}

.post-tag-box a {
  padding: 2px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
